@charset "UTF-8";
body{margin:0;}

header{
	position:fixed; top:0px; width:100%;
	line-height:50px; font-size:35px;
	color:white; background-color : blue;
	text-align:center;
}
nav{
	position:fixed; top:50px; width:100%;
	line-height:25px;
	background-color : lightblue;
}
section{
	position:fixed; top:75px; width:100%; height:100%;
	background-color:lightgray;
}
footer{
	position:fixed; bottom:0px; width:100%;
	line-height:30px;
	color : white; background:blue;;
	text-align:center;
}
h1{
	text-align:center;
}
table{
	margin:auto;
}
td{
	text-align:center;
}